@charset "UTF-8";
/* ==========================================================================
   Author's custom FOOTER
   ========================================================================== */
/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/


/*FOOTER*/
footer{
	background-color: #15283c;
	padding-top: 50px;
    padding-bottom: 50px;

   
}

.liFooter{
	list-style: none;
	text-decoration: none;
}

@media (max-width: 320px) {	
	footer{
		text-align: center;
	}
	.liFooter{
		text-align: center !important;
	}
}

@media (max-width: 360px) {	
	footer{
		text-align: center;
	}	
}