@charset "UTF-8";
/* ==========================================================================
   Author's custom LAYOUT
   ========================================================================== */
/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/

.iconsContact{
	list-style: none;
    display: inline;
    text-decoration: none;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
/* Background image&color- header contact*/
.bckContact{
	background-image: url("../img/bgs/gamolequipo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 450px;
}

.bckBlack{
	background-color: rgba(0, 0, 0, 0.5);
	width: 110%;
	height: 450px;
	padding-left: -15px;
}

.conecta {
    font-size: 70px;
    margin-left: -150px;
    color: #fff;
	margin-top: -30px;
}

.contact{
	color: #15293e;
	font-size: 4em;
	font-weight: 600;
	padding: 70px 0px 0px 0px;
}
.lineaContact {
    border: 1px solid #f37820;
    width: 25%;
}

.sloganContact{
	color: #15293e;
	font-size: 1.3em;
	letter-spacing: 2px;
}

/* Backg section*/
.backgroud-Image-White{
	background-image: url("../img/backg.jpg");
	background-size: cover;
	background-position: center bottom;
	width: 100%;
	height: auto;
	padding-bottom: 50px;
}

.backgroud-White{
	background: rgba(255, 255, 255, 0.83);
	width: 100%;
	height: 280px;
}

.box-white{
	background-color: #fff;
	margin: 50px 0px 0px 50px;
	padding:80px 80px;
	-webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

/* Form & text */
.form-control{
	padding: 0px;
}

/* FORMULARIO */

.btn-enviar{
    margin-left: 400px;
    margin-top: -35px;

}

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    box-shadow: inset 0 0px 0px rgba(55, 54, 54, 0.075);
}
.NoRobot,
.avisoprivacidad{
	color: #000;
	font-weight: 400;
	font-size: 0.9em;
}

.avisoprivacidad {
	text-decoration: underline;
}
.boxCaptcha {
    background: rgba(191, 191, 191, 0.1);
    padding: 30px 0px 30px 10px;
    margin-right: 55px;
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 0.9em;
}
label {
	color: #15293e;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 1.3em;
}
select>option{
	background-color: black;
}

select> .form-control{
	background-color: #15293e;
}

/* box blue*/

.bkg-reds {
    background-image: url("../img/bgs/bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0% 0% 4%;
    width: 80px;
    height: 80px;
    color: #f37920;
    border: 10px solid #fff;
    font-size: 2em;
	margin: -3% 0px 0px 24px;
}

.box-blue {
    color: #fff;
    background-color: #15293e;
    margin: 95px 0px 0px 0px;
    padding: 60px 40px 10px 40px;
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
    height:auto;
}

#circleRedes {
	margin: -90px -80px 30px -80px;
    padding: 0%;
}
.direc {
    margin: 10px -0px 5px 10px;
    font-size: 1.3em;
    font-weight: 200;
}

.borde-circle{
	border-radius: 50%;
	color: #f37920;
}

.no-mar {
	margin-right: 0;
	margin-left: 0;
}

.no-pad {
	padding-right: 0;
	padding-left: 0;
}

@media (max-width: 980px) {
	.box-white {
	    margin: 20px -5px;
	    padding: 30px 30px;
    }
    .bkg-reds {
	    padding: 3% 0% 0% 4%;
	    width: 120px;
	    height: 120px;
	    border: 10px solid #fff;
	    font-size: 2em;
	    margin: -3% 0px 0px 45px;
	}
}

@media (max-width: 800px) {
	.box-white {
	    margin: 20px -5px;
	    padding: 30px 30px;
    }
}


@media (max-width: 768px) {
	.conecta {
	    font-size: 70px;
	    margin-left: -120px;
	    color: #fff;
	    margin-top: -25px;
	}
	.box-white {
	    margin: 20px -5px;
	    padding: 30px 30px;
    }
    .btn-enviar {
	    margin-top: -6%;
	    margin-left: 60%;
	    padding: 12px 35px;
	}
	.datosRe{
		margin-top: 5px;
		font-size: 80%;
	}
	.box-blue {
	    width: 100%;
	    height: auto;
		margin: 40px 0px;
	}
	.bkg-reds {
	    width: 125px;
	    height: 125px;
	    margin: -20px 25px 7px;
	    border: 10px solid #fff;
	}
	.direc {
    	font-size: 1.8em;
    }

}

@media (max-width: 640px){
	.bkg-reds {
	    width: 85px;
	    height: 85px;
	    margin: 7px 14px;
	    border: 6px solid #fff;
	}
}

}
@media (max-width: 414px) {
	.bckContact {
	    background-position: center;
	    background-size: inherit;
	    height: 180px;
	}
	.conecta {
	    font-size: 2.1em;
	    margin-left: -59px;
	    margin-top: -170px;
	}
	.contact {
	    font-size: 2em;
	    padding: 10px 0px 0px 0px;
	}
	.sloganContact {
	    font-size: 0.8em;
	    letter-spacing: 1px;
	    margin: 0px -45px 0px -45px;
	}
	.box-white {
	    margin: 20px -5px;
	    padding: 30px 30px;
    }
    .btn-enviar {
	    margin-top: -65px;
	    margin-left: 60%;
	    padding: 12px 35px;
	}
	.datosRe{
		margin-top: 5px;
		font-size: 80%;
	}
	.box-blue {
	    width: 100%;
	    height: auto;
		margin: 40px 0px;
	}
	.bkg-reds {
	    width: 65px;
	    height: 65px;
	    margin: 7px 14px;
	    border: 6px solid #fff;
	}
	.direc {
	    font-size: 1.2em;
	    font-weight: 200;
	    margin: 0px -5px 5px -5px;
	}

}
@media (max-width: 375px) {
	.conecta {
    	font-size: 2.4em;
    }
	.bkg-reds {
	    width: 65px;
	    height: 65px;
	    margin: 7px 9px;
	    border: 6px solid #fff;
	}
	.direc {
	    font-size: 1em;
	    font-weight: 200;
	    margin: 0px -5px 5px -5px;

	}
}

@media (max-width: 360px) {
	.bckContact {
	    background-position: center;
	    background-size: inherit;
	    height: 180px;
	}
	.conecta {
	    font-size: 2.1em;
	    margin-left: -59px;
	    margin-top: -170px;
	}
	.contact {
	    font-size: 2em;
	    padding: 10px 0px 0px 0px;
	}
	.sloganContact {
	    font-size: 0.8em;
	    letter-spacing: 1px;
	    margin: 0px -45px 0px -45px;
	}
	.box-white {
	    margin: 20px -5px;
	    padding: 30px 30px;
    }
    .btn-enviar {
	    margin-top: -45px;
	    margin-left: 60%;
	    padding: 12px 35px;
	}
	.datosRe{
		margin-top: 5px;
		font-size: 80%;
	}
	.box-blue {
	    width: 100%;
	    height: auto;
		margin: 40px 0px;
	}
	.bkg-reds {
	    width: 65px;
	    height: 65px;
	    margin: 7px;
	    border: 6px solid #fff;
	}
	.direc {
	    font-size: 0.9em;
	    font-weight: 200;
	}
}


@media (max-width: 320px) {

	/* seccion Contacto*/
	.videoPrin {
	    height: 570px;
	}
	.bckContact {
	    background-position: center;
	    background-size: inherit;
	    height: 180px;
	}
	.bckBlack {
    	height: 180px;
    }
    .conecta {
	    font-size: 2.1em;
	    margin-left: -59px;
	    margin-top: -170px;
	}
	.contact {
	    font-size: 2em;
	    padding: 10px 0px 0px 0px;
	}
	.sloganContact {
	    font-size: 0.8em;
	    letter-spacing: 1px;
	    margin: 0px -45px 0px -45px;
	}
    /* box formulario */
    .box-white {
	    margin: 20px -5px;
	    padding: 30px 30px;
    }
	.btn-enviar {
	    margin-top: -40px;
	    margin-left: 150px;
	    padding: 12px 35px;
	}
	.form-control {
    	height: 24px;
	}
	.boxCaptcha {
	    padding: 10px 0px 5px 5px;
	}
	.datosRe{
		margin-top: 5px;
		font-size: 60%;
	}
	/* box blue */
	.bkg-reds {
	    width: 55px;
	    height: 55px;
	    border: 6px solid #fff;
	}

	.box-blue {
	    width: 100%;
	    height: auto;
	    margin: 15px 0px;
	}
	.direc {
	    margin: 0px -20px 5px -10px;
	    font-size: 0.79em;
	    font-weight: 200;
	}

}