@charset "UTF-8";
/* ==========================================================================
   Author's custom LAYOUT
   ========================================================================== */
/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
.backg-trans-agencia {
	background: rgba(255, 255, 255, 0.83);
    width: 100%;
    height: 450px;
}
.agencia {
	color: #15293e;
	font-size: 4em;
	font-weight: 600;
	padding: 70px 0px 0px 0px;
}

.back-agencia-valores{
	background-color: #f37820;
	width: 100%;
	height: 700px;
}
.text-valores{
	color: #fff;
	font-size: 1.3em;
	letter-spacing: 2px;
}
.text-vision,
.text-mision{
	color: #fff;
	font-size: 1.5em;
	font-weight: 100;
	letter-spacing: 3px;
	
}
.backgroundGamolAgencia{
	background-image: url("../img/bgs/gamolequipo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 250px;
}
.bckBlack{
	background-color: rgba(0, 0, 0, 0.5);
	width: 110%;
	height: 450px;
	padding-left: -15px;
}
.logoGamolAgencia{
	width: 50%;

}
.sloganGamol{
	color: #fff;
	font-size: 1.3em;
	letter-spacing: 2px;
}
.backgr-black{
	background-color: #000;
	width: 100%;
	height: 640px;
}
.equipoGamol{
	background: rgb(0, 0, 0, 0.3);
	width: 100%;
	height: auto;
}
.backgr-gray{
	background: rgba(107, 113, 120, 0.4);
}
.alianzas{
	color: #6c7279;
	font-size: 4em;
	font-weight: 600;
	padding: 70px 0px 0px 0px;
}
.sloganAlianzas{	
	color: #6c7279;
	font-size: 1.3em;
	letter-spacing: 2px;
	font-weight: 300;
}
.logosEmpresaAliadas{
	width: 50%;
	height: auto;
}