@charset "UTF-8";
/* ==========================================================================
   Author's custom LAYOUT
   ========================================================================== */
/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/



/*BACKS*/

.backgroud-blue{
    background-color: #15293e;
    width: 100%;
    height: 260px;
}

.encabezadoBlog {
    color: #fff;
    font-size: 4em;
    font-weight: 600;
    padding: 40px 0px 0px 0px;
}

/*COLABORADORES*/

.blogCuadro{
	height:400px;
	background-color: #fafafa;
	border: 3px solid #d9d7d7;
	padding-top: 15%;
    box-shadow: 10px 10px 5px #88888880;
}
.blogCuadro:hover{
	background: rgba(43, 78, 117, 0.8) ;
}

.ceroPad{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.lineaBlog {
    border: 1px solid #f37820;
    width: 5%;
}
/*MEDIASQUERIES*/
@media (max-width : 980px) {
	.ceroPad {
	    padding-left: 75px !important;
	    padding-right: 75px !important;
	}
	.blogCuadro {
	    height: 400px;
	    padding-top: 20%;
	    padding-bottom: 35%;
	}
}
@media (max-width : 800px) {
	.ceroPad {
	    padding-left: 75px !important;
	    padding-right: 75px !important;
	}
	.blogCuadro {
	    height: 400px;
	    padding-top: 20%;
	    padding-bottom: 15%;
	}
}
@media (max-width : 768px) {
	.ceroPad {
	    padding-left: 75px !important;
	    padding-right: 75px !important;
	}
	.blogCuadro {
	    height: 400px;
	    padding-top: 20%;
	    padding-bottom: 15%;
	}
}
@media (max-width : 414px) {
	.ceroPad {
	    padding-left: 15px !important;
	    padding-right: 15px !important;
	}
	.blogCuadro {
	    height: auto;
	    padding-top: 15%;
	    padding-bottom: 15%;
	}
}

@media (max-width : 360px) {
	.ceroPad {
	    padding-left: 15px !important;
	    padding-right: 15px !important;
	}
	.blogCuadro {
	    height: auto;
	    padding-top: 15%;
	    padding-bottom: 15%;
	}
}
@media (max-width : 320px) {
	.backgroud-blue{
		height: 130px;
	}
	.ceroPad {
	    padding-left: 15px !important;
	    padding-right: 15px !important;
	}
	.blogCuadro {
	    height: auto;
	    padding-top: 15%;
	    padding-bottom: 15%;
	}
	.encabezadoBlog{
		font-size: 2em !important;
		padding: 0px;
	}
}





