@charset "UTF-8";
/* ==========================================================================
   Author's custom LAYOUT
   ========================================================================== */
/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/

/*
.videoPrin img {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0%;
    height: 900px;
    width: 100%;
}
*/
/* Background image&color de header contact*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.bckContact{
	background-image: url("../img/gamolequipo.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 450px;
}

.bckBlack{
	background-color: rgba(0, 0, 0, 0.5);
	width: 110%;
	height: 450px;
	padding-left: -15px;
}
.videoPrin {
    height: 450px;
}

/* Backg de section Formulario y texto*/
.backgroud-Image{	
	background-image: url("../img/backg.jpg");
	background-size: cover;
	background-position: center bottom;
	width: 100%;
	height: 1200px;
	margin-bottom: 8%;
}

.backgroud-White{
	background: rgba(255, 255, 255, 0.83);
	width: 100%;
	height: 280px;
}

.box-white{
	background-color: #fff;
	margin: 50px 0px 0px 50px;
	padding:80px 80px;
	-webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.form-control{
	padding: 0px;
}
select> .form-control{
	background-color: #15293e;
}
.fa-facebook,
.fa-linkedin,
.fa-twitter,
.fa-whatsapp{
	font-size: 2em !important;
	margin-top: -3%;
}
/*BORDEICONS*/

.select {
	border: 1px solid #ccc;
	width: 140px;
	overflow: hidden;
	background-color:  #000;
}
  .select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
  }

.select select option .option1 {
	background-color: aqua !important;
  }

.bkg-reds {
    background-image: url("../img/bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4%;
    width: 80px;
    height: 80px;
    border: 10px solid #fff;
}

.box-blue {
    color: #fff;
    background-color: #15293e;
    margin: 90px 0px 0px -14px;
    padding: 60px 40px 10px 40px;
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
    height: 350px;
    width: 400px;
}

.borde-circle{
	border-radius: 50%;
	color: #f37920;
}

.fa-whatsapp:before,
.fa-twitter:before,
.fa-facebook:before,
.fa-linkedin:before {
    color: #f37920;
    position: relative;
    margin: -15px;
}

#circleRedes {
	margin: -90px -80px 30px -80px;
    padding: 0px 0px;
}


/* FORMULARIO */

.btn-enviar{
	background-color: #f37820;
    border-radius: none;
    border: 0px solid transparent;
    border-radius: 0px;
    margin-left: 400px;
    padding: 1.5em 4em;
    color: #fff;
    font-weight: 300;
    line-spacing: 2px;
    margin-top: -35px;
    box-shadow: 10px 10px 5px rgba(135, 135, 135, 0.59);
    
}

.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    box-shadow: inset 0 0px 0px rgba(55, 54, 54, 0.075);
}
.avisoprivacidad{
	color: #000;
	font-weight: 400;
}
.bckinput option{
	background-color: #b90f0f;
}

select>option{
	background-color: black;
}

.contact{
	color: #15293e;
	font-size: 4em;
	font-weight: 600;
	padding: 70px 0px 0px 0px;
}
.lineaContact{
	border: 2px solid #f37820;
	width: 10%;
}

.sloganContact{
	color: #15293e;
	font-size: 1.3em;
	letter-spacing: 2px;
}


@media (max-width: 360px){
	.videoPrin {
	    height: 200px;
	}
	
	.bckContact {
	    width: 100%;
	    height: 250px;
	}
	.bckBlack {
	    width: 110%;
	    height: 250px;
	    padding-left: -15px;
	}
	.contact {
    	font-size: 3em;
    }
	.sloganContact {
    	font-size: 0.6em;
    }
    .box-white {
	    margin: 15px -15px;
	    padding: 40px 30px;
	}
	
	.box-blue {
	    background-color: #15293e;
	    margin: 60px 0px 10px 0px;
	    padding: 60px 40px 10px 40px;
	    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
	    height: 350px;
	    width: 333px;
	}
	
	.bkg-reds {
	    padding: 3%;
	    width: 75px;
	    height: 75px;
	    border: 10px solid #fff;
	    margin: 2px;
	}
	.sloganContact {
    	font-size: 0.9em;
    	letter-spacing: 0px;
    }
    .btn-enviar{
	    margin-left: 120px;
	    padding: 15px 50px;
	    margin-top: -35px;
    }
	
}