@charset "UTF-8";
/* ==========================================================================
   Author's custom LAYOUT
   ========================================================================== */
/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/




/*BACKS*/

.back9{
	background-color: #15283c;
}
.back10{
	background-color: #e0e0e0;
	padding-top: 65px;
	padding-bottom: 65px;
}
.back11{
	background-color: white;
	padding-top: 55px;
	box-shadow: 10px 10px 5px #88888880;
}

.margenBoton {
    margin-top: -25px;
    margin-left: 850px;
}
.text-slim{
	font-weight: 200;
	padding: 30px 0px 10px 0px;
}
.imageBlog{
	width: 100%;
}

/* CONTACTO*/

.menu-lateral {
	position: fixed;
	right: 326px;
	top: 30%;
	z-index: 1000;

}
.menu-lateral ul {
	padding: 0;
	list-style: none;
}
.menu-lateral ul li a {
	display: inline-block;
	padding: 10px 15px;
	width: 40px;
}

.menu-lateral ul li a span {
	display: none;

}

#face{
	background: #39579A;
	padding: 6px;
}
#twit{
	background: #039EF6;
}
#print{
	background: #728A8D;
}
#mail{
	background: #848484;
}
#plus{
	background: #FF684B;
}
/*MEDIASQUERIES*/
@media (max-width : 980px) {
	.margenBoton {
	    margin-top: -25px;
	    margin-left: 850px;
	    margin-left: 550px;
	}
}
/* Extra Small Devices, Phones */
@media (max-width : 360px) {
	.pad-box {
	    padding-right: 0px;
	    padding-left: 0px;
	}
	.margenBoton {
		margin-top: -20px;
		margin-left: 140px;
	}
	.encabezadoBlogInterna{
		font-size: 23px;
	}
	.text-slim {
	    font-weight: 200;
	    padding: 0px 0px 10px 0px;
	}
	.back11{
		margin: 0px 6px 0px 6px;
	}
}
@media (max-width : 320px) {

/*
	.menu-lateral {
		position: fixed;
		right:0%;
		top:20%;
		z-index: 2000;
	}
	.menu-lateral ul {
		padding: 0;
		list-style: none;
	}
	.menu-lateral ul li a {
		display: inline-block;
		padding: 10px 15px;
		width: 80px;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	.menu-lateral ul li a span {
		display: none;

	}
*/

	.text-slim{
		font-weight: 200;
		padding: 0px 0px 10px 0px;
	}

	.ceroPadText{
		padding: 0px;
	}
	.text-blog{
		font-size: 1em;
	}
	.back10 {
	    padding-top: 0px;
	}
	.encabezadoBlogInterna{
		font-size: 20px;
	}
	.lineaBlog {
	    width: 15%;
	}
	.margenBoton {
	    margin-left: 180px;
	}
	.ceroPadInterna{
		padding-left: 0px;
		padding-right: 0px;
	}
	.back11{
		margin: 0px 6px 0px 6px;
	}
}




